.internal-grid {
    padding-left: 0px;
    padding-right: 0px;
}

.dx-datagrid-content .dx-datagrid-table .dx-row .dx-command-expand { /*for width*/
    width: 12px;
    min-width: 10px;
}

/*.dx-datagrid-group-opened:before { 
    content: "\f051";
}*/
