#form-container {
    margin: 10px;
}

#button {
    float: right;
    margin-top: 20px;
}

.long-title h3 {
    font-family: 'Segoe UI Light', 'Helvetica Neue Light', 'Segoe UI', 'Helvetica Neue', 'Trebuchet MS', Verdana;
    font-weight: 200;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

#chart {
    height: 350px;
}

.ccle 
{
    margin: 0px auto; /*div對齊效果*/
    text-align: left; /*display: inline對齊效果*/
}

    .ccle div {
        display: inline-flex;
        /*display: inline-block;*/ /*讓div並排*/
        /*vertical-align: top;*/ /*就算個個div行數不同，也一律向上對齊*/
        /*width: 130px;
        height: 150px;*/
        /*border: 1px solid #FF0000;
        border-radius: 3px;*/
        margin: 0px;
    }
